@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* @media (prefers-color-scheme: dark) {
}
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
} */

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-mainbg: var(--mainbg);
  --color-gradient1: var(--gradient1);
  --color-gradient2: var(--gradient2);
  --color-gradient3: var(--gradient3);
  --color-gradient4: var(--gradient4);
  --color-gradient5: var(--gradient5);
  --color-purpple: var(--purpple);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  /* Neutral light theme */
  --radius: 0.625rem;
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.15 0 0);
  --card: oklch(95.892% 0.00105 11.436);
  --card-foreground: oklch(0.15 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.15 0 0);
  --primary: oklch(0.25 0 0);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0.25 0 0);
  --muted: oklch(0.94 0 0);
  --muted-foreground: oklch(0.55 0 0);
  --accent: oklch(95.513% 0.00854 197.715);
  --accent-foreground: oklch(0.25 0 0);
  --destructive: oklch(0.6 0.25 25);
  --border: oklch(0.9 0 0);
  --input: oklch(0.9 0 0);
  --ring: oklch(0.7 0 0);
  --mainbg: oklch(96.644% 0.01074 286.053);
  --gradient1: oklch(0.25 0.08 260) 0%;
  --gradient2: oklch(0.3 0.1 320) 25%;
  --gradient3: oklch(0.32 0.08 20) 50%;
  --gradient4: oklch(0.28 0.08 180) 75%;
  --gradient5: oklch(0.25 0.08 260) 100%;
  --purpple: oklch(40.046% 0.19259 304.873);
}

.dark {
  /* Neutral dark theme */
  --background: oklch(0% 0 0);
  --foreground: oklch(0.98 0 0);
  --card: oklch(14.479% 0.00002 271.152);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.9 0 0);
  --primary-foreground: oklch(0.2 0 0);
  --secondary: oklch(0.25 0 0);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.7 0 0);
  --accent: oklch(0.25 0 0);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.65 0.2 25);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.6 0 0);
  --mainbg: oklch(23.116% 0.00193 286.052);
  --gradient1: oklch(0.25 0.08 260) 0%;
  --gradient2: oklch(0.3 0.1 320) 25%;
  --gradient3: oklch(0.32 0.08 20) 50%;
  --gradient4: oklch(0.28 0.08 180) 75%;
  --gradient5: oklch(0.25 0.08 260) 100%;
  --purpple: oklch(40.046% 0.19259 304.873);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer utilities {
  h1 {
    @apply [font-family:var(--font-poppins)] text-xl sm:text-3xl font-bold;
  }
}

@layer components {
  .hover {
    @apply hover:bg-accent hover:text-accent-foreground transition-colors duration-500;
  }
  .focus {
    @apply focus:bg-accent focus:text-accent-foreground transition-colors duration-500;
  }
  .active {
    @apply active:bg-accent active:text-accent-foreground transition-colors duration-500;
  }

  .mainbg {
    background-color: var(--color-mainbg);
    background-blend-mode: overlay;
    background-image: linear-gradient(135deg,
        var(--color-gradient1),
        var(--color-gradient2),
        var(--color-gradient3),
        var(--color-gradient4),
        var(--color-gradient5)),
      linear-gradient(to right,
        var(--color-accent-foreground) 2px,
        transparent 1px),
      linear-gradient(to bottom,
        var(--color-accent-foreground) 2px,
        transparent 1px);
    background-size: 100% 100%, 160px 160px, 160px 160px;
  }

  .projectbg {
    background-color: var(--color-card);
    background-blend-mode: overlay;
    background-image: linear-gradient(to top,
        var(--color-accent-foreground) 2px,
        transparent 1px),
      linear-gradient(to right,
        var(--color-accent-foreground) 2px,
        transparent 1px),
      linear-gradient(to bottom,
        var(--color-accent-foreground) 2px,
        transparent 1px);
    background-size: 100% 100%, 160px 160px, 160px 160px;
  }

  .conpad {
    @apply px-6 xl:px-42;
  }

  .blurpurple {
    @apply absolute -z-30 items-center bg-purple-900/50 w-46 h-46 blur-[120px] right-4 top-4;
  }

  .blurblue {
    @apply absolute -z-30 items-center bg-blue-900/50 w-46 h-46 blur-[120px] bottom-4 left-4;
  }

  .slide-up-animation {
    animation: slide-up 1s ease-out forwards;
  }

  .slide-down-animation {
    animation: slide-down 1s 0.5s ease-out forwards;
  }

  .animate-scroll-horizontal {
    animation: scrollAnimation 10s linear infinite;
  }

  .fade-up-animation {
    animation: fade-up 0.5s ease-in-out;
  }

  .slide-up-animation {
    animation: slide-up 1s ease-in-out;
  }

  .before\:animate-spin-slow::before {
    animation: spin-slow 4s linear infinite;
  }
}

button {
  cursor: pointer;
}

@keyframes scrollAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scrollbar::-webkit-scrollbar {
  width: 5px; /* tiny scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 9999px;
  height: 40px; /* makes the bar itself shorter */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 on hover */
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
